extends ../main.layout.pug
block content
    section.section.hero.blog_hero
        include ../common/hero_blog
    section.section.blog
     .blog-content__triangle
        .blog-content__triangle_left
            svg(
            viewbox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle triangle_fill_white blog_triangle_position")
                polygon(points="0,0 0,100 1000,100")
        .blog-content__triangle_right
            svg(
            viewbox="0 0 1000 100"
            preserveAspectRatio="none"
            class="triangle triangle_fill_white blog_triangle_position")
                polygon(points="0,100 1000,100 1000,0")
    .blog-content
        .blog-content__left
            .sidemenu__circle
            ul.sidemenu
                each article in articles
                  li.sidemenu__item
                    a(href="" class="sidemenu__link") #{article.title}
        .blog-content__right
            ul.articles
                each article in articles
                    -
                        var createDate = new Date(article.date).toLocaleDateString('ru', {
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit'
                        }),
                        month = new Date(article.date).getMonth(),
                        monthNames = {"1":"Январь", "2":"Февраль","3":"Март","4":"Апрель","5":"Май","6":"Июнь","7":"Июль","8":"Август"},
                        dt = `${new Date(article.date).getDate()} ${monthNames[new Date(article.date).getMonth()+1]} ${new Date(article.date).getFullYear()}  `;

                    li.articles__item
                        a(href="" class="articles__title")
                            |#{article.title}
                        .articles__create_time=dt
                        .articles__text!= article.body


